* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 20px;
}

body {
  background-color: #b4b2b2;
}

.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 50%;
  margin: 5vh auto;
  background-color: white;
}

.cv .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  border: 2px solid red;
}

.cv .header .userpic {
  width: 40%;
  background: url(/photoCV.jpg) no-repeat center center/cover;
}

.cv .header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 20px;
  width: 60%;
}

.cv .header .header-title h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #196ab6;
}

.cv .header .header-title h3 {
  font-size: 1.7em;
  text-transform: uppercase;
  color: #2390f5;
  margin: 0 0 10px 0;
}

.cv .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cv .content .cv__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.cv .content .cv__left .cv__content {
  height: 100%;
  background-color: #196ab6;
  padding: 20px 20px 0 20px;
}

.cv .content .cv__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.cv .content .cv__right h5 {
  color: #2390f5;
}

.cv .content .cv__right .cv__about {
  padding: 0 20px;
}

.cv .content .cv__right .cv__experience {
  padding: 20px 20px 0 20px;
}

.cv .content .cv__right .cv__education {
  padding: 20px 20px 0 20px;
}

.cv .content .cv__right .cv__english {
  padding: 20px 20px 0 20px;
}
