* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-size: 1em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

body {
  background-color: #b4b2b2;
}

.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 50%;
  margin: 5vh auto;
  background-color: white;
}

.cv .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
}

.cv .header .userpic {
  width: 40%;
  background: url(/photoCV.jpg) no-repeat center center/cover;
}

.cv .header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 20px;
  width: 60%;
}

.cv .header .header-title h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #196ab6;
}

.cv .header .header-title h3 {
  font-size: 1.7em;
  text-transform: uppercase;
  color: #2390f5;
  margin: 0 0 10px 0;
}

.cv .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.cv .main .aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.cv .main .aside h5 {
  color: white;
}

.cv .main .aside #contacts li {
  list-style-type: circle;
}

.cv .main .aside #contacts li a:hover {
  background: #1972c5;
}

.cv .main .aside .section {
  height: 30vh;
  background-color: #2390f5;
  padding: 20px 20px 0 20px;
}

.cv .main .aside .section .interests ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cv .main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  background: url(https://i.pinimg.com/originals/38/8a/f1/388af197023556ffc1aa742411f14460.png) no-repeat center center/cover;
}

.cv .main .content h5 {
  color: #2390f5;
}

.cv .main .content .content__about {
  padding: 20px 20px 0 20px;
}

.cv .main .content .content__experience {
  padding: 20px 20px 0 20px;
}

.cv .main .content .content__education {
  padding: 20px 20px 0 20px;
}

.cv .main .content .content__english {
  padding: 20px 20px 0 20px;
}

.cv .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
}

.cv .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv .footer ul li {
  height: 4vh;
}
