$main-color: black;
$secondary-color: white;
$head-color: #196ab6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $main-color;
    font-size: 1em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

body {
    background-color: rgb(180, 178, 178);
}

.cv {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50%;
    margin: 5vh auto;
    background-color: $secondary-color;

    .header {
        display: flex;
        height: 20vh;

        .userpic {
            width: 40%;
            background: url(/photoCV.jpg) no-repeat center center / cover;
        }

        .header-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding-left: 20px;
            width: 60%;

            h1 {
                font-size: 2.5em;
                text-transform: uppercase;
                color: $head-color;
            }

            h3 {
                font-size: 1.7em;
                text-transform: uppercase;
                color: #2390f5;
                margin: 0 0 10px 0;
            }
        }
    }

    .main {
        display: flex;
        height: 60vh;

        .aside {
            display: flex;
            flex-direction: column;
            width: 40%;

            h5 {
                color: $secondary-color;
            }

            #contacts {
                li {
                    list-style-type: circle;

                    a:hover {
                        background: #1972c5;
                    }
                }
            }

            .section {
                height: 30vh;
                background-color: #2390f5;
                padding: 20px 20px 0 20px;

                .interests {
                    ul {
                        display: flex;
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            width: 60%;
            background: url(https://i.pinimg.com/originals/38/8a/f1/388af197023556ffc1aa742411f14460.png)
                no-repeat center center / cover;

            h5 {
                color: #2390f5;
            }

            .content__about {
                padding: 20px 20px 0 20px;
            }

            .content__experience {
                padding: 20px 20px 0 20px;
            }

            .content__education {
                padding: 20px 20px 0 20px;
            }

            .content__english {
                padding: 20px 20px 0 20px;
            }
        }
    }

    .footer {
        display: flex;
        height: 10vh;

        ul {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;

            li {
                height: 4vh;
            }
        }
    }
}
