$main-color: black;
$secondary-color: white;
$head-color: #196ab6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $main-color;
}

body {
  background-color: rgb(180, 178, 178);
}

.cv {
  display: flex;
  height: 100vh;
  width: 50%;
  margin: 0 25%;
  background-color: $secondary-color;

  .cv__left {
    display: flex;
    flex-direction: column;
    width: 40%;

    .cv__image {
      width: 100%;
      height: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .cv__content {
      height: 100%;
      background-color: $head-color;
    }
  }

  .cv__right {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}
